In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("#dataset_path")
dataset = df.copy()
dataset.head()

,match_id,task_response_id,actor_id,team_id,analysis_id,player_id,position_id,attribute_value_ml_acceleration,attribute_value_ml_aerial_ability,attribute_value_ml_agility,...,attribute_value_raw_positive_aggression,attribute_value_raw_reflexes,attribute_value_raw_stamina,attribute_value_raw_strength,attribute_value_raw_tackling,attribute_value_raw_team_work,attribute_value_raw_technique,attribute_value_raw_weakfoot,attribute_value_raw_workrate,label
0,52209,5180,149914,60411,482525,162489,1,42.505460,NaN,42.505460,...,NaN,45.0,45.0,45.0,NaN,45.0,NaN,1.0,45.0,none
1,52210,5142,132985,60001,482223,134536,1,52.610172,NaN,52.610172,...,NaN,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none
2,52212,5258,7022,60581,482913,142479,1,78.759201,NaN,78.759201,...,NaN,56.0,45.0,45.0,NaN,45.0,NaN,45.0,45.0,none
3,52214,4900,132985,60891,480948,140923,1,48.508960,NaN,48.508960,...,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none
4,52216,6423,2106,60241,491770,250715,1,43.437428,NaN,55.152803,...,NaN,45.0,45.0,45.0,NaN,45.0,NaN,34.0,45.0,none

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
labels = {  'none' : 0,
            'weakest_link' : 0,
           'elite_player' : 1,
           'urgent_followup_is_needed': 1, 
           'followup_is_needed': 1}
# create grouped label column
dataset['Label_Category_Num'] = dataset['label'].map(lambda x: labels[x])
dataset.head()

,match_id,task_response_id,actor_id,team_id,analysis_id,player_id,position_id,attribute_value_ml_acceleration,attribute_value_ml_aerial_ability,attribute_value_ml_agility,...,attribute_value_raw_reflexes,attribute_value_raw_stamina,attribute_value_raw_strength,attribute_value_raw_tackling,attribute_value_raw_team_work,attribute_value_raw_technique,attribute_value_raw_weakfoot,attribute_value_raw_workrate,label,Label_Category_Num
0,52209,5180,149914,60411,482525,162489,1,42.505460,NaN,42.505460,...,45.0,45.0,45.0,NaN,45.0,NaN,1.0,45.0,none,0
1,52210,5142,132985,60001,482223,134536,1,52.610172,NaN,52.610172,...,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,0
2,52212,5258,7022,60581,482913,142479,1,78.759201,NaN,78.759201,...,56.0,45.0,45.0,NaN,45.0,NaN,45.0,45.0,none,0
3,52214,4900,132985,60891,480948,140923,1,48.508960,NaN,48.508960,...,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,0
4,52216,6423,2106,60241,491770,250715,1,43.437428,NaN,55.152803,...,45.0,45.0,45.0,NaN,45.0,NaN,34.0,45.0,none,0

In [ ]:
df_attribute = dataset.iloc[:,7:48]
df_label = dataset.iloc[:,[-1]]
df_for_corr = pd.concat([df_attribute, df_label], axis=1)
df_for_corr.head()
#correlations = df_for_corr.corr()
corr = df_attribute.corrwith(df_label['Label_Category_Num'])
print(corr.shape)
print(type(corr))

(41,)
<class 'pandas.core.series.Series'>

In [ ]:
df_attribute = dataset.iloc[:,7:48]
df_label = dataset.iloc[:,[-1]]
df_for_corr = pd.concat([df_attribute, df_label], axis=1)
df_for_corr.head()
#correlations = df_for_corr.corr()
corr_spearman = df_attribute.corrwith(df_label['Label_Category_Num'],method="spearman")
s1_spearman = corr_spearman.sort_values(ascending=True)
print(s1_spearman)
s1_spearman.to_excel("pos1_spearman.xlsx")

attribute_value_ml_creativity             -0.205722
attribute_value_ml_weakfoot               -0.183556
attribute_value_ml_strength               -0.150702
attribute_value_ml_stamina                -0.150119
attribute_value_ml_bravery                -0.068028
attribute_value_ml_high_balls             -0.062451
attribute_value_ml_decisions              -0.043231
attribute_value_ml_handling               -0.036026
attribute_value_ml_flair                  -0.014584
attribute_value_ml_balance                 0.007205
attribute_value_ml_agility                 0.018013
attribute_value_ml_team_work               0.041757
attribute_value_ml_anticipation            0.046833
attribute_value_ml_command_of_area         0.061244
attribute_value_ml_passing                 0.068448
attribute_value_ml_communication           0.078074
attribute_value_ml_first_touch_handling    0.111679
attribute_value_ml_acceleration            0.116158
attribute_value_ml_pace                    0.144119
attribute_value_ml_composure               0.158512
attribute_value_ml_reflexes                0.183730
attribute_value_ml_positioning             0.198140
attribute_value_ml_workrate                0.204133
attribute_value_ml_determination           0.218069
attribute_value_ml_one_on_one              0.237770
attribute_value_ml_aerial_ability               NaN
attribute_value_ml_concentration                NaN
attribute_value_ml_crossing                     NaN
attribute_value_ml_defensive_workrate           NaN
attribute_value_ml_dribling                     NaN
attribute_value_ml_finishing                    NaN
attribute_value_ml_first_touch                  NaN
attribute_value_ml_freekicks                    NaN
attribute_value_ml_jumping                      NaN
attribute_value_ml_long_shots                   NaN
attribute_value_ml_marking                      NaN
attribute_value_ml_off_the_ball                 NaN
attribute_value_ml_offensive_workrate           NaN
attribute_value_ml_positive_aggression          NaN
attribute_value_ml_tackling                     NaN
attribute_value_ml_technique                    NaN
dtype: float64

In [ ]:
s1 = corr.sort_values(ascending=True)
print(s1)
s1.to_excel("pos1.xlsx")

attribute_value_ml_creativity             -0.213559
attribute_value_ml_weakfoot               -0.158760
attribute_value_ml_stamina                -0.113395
attribute_value_ml_strength               -0.107141
attribute_value_ml_high_balls             -0.057854
attribute_value_ml_bravery                -0.056762
attribute_value_ml_decisions              -0.036955
attribute_value_ml_flair                  -0.030379
attribute_value_ml_handling               -0.014865
attribute_value_ml_balance                -0.014130
attribute_value_ml_agility                 0.008679
attribute_value_ml_anticipation            0.032542
attribute_value_ml_team_work               0.046272
attribute_value_ml_command_of_area         0.052729
attribute_value_ml_passing                 0.056672
attribute_value_ml_communication           0.068199
attribute_value_ml_first_touch_handling    0.101604
attribute_value_ml_acceleration            0.114090
attribute_value_ml_composure               0.124086
attribute_value_ml_reflexes                0.148765
attribute_value_ml_pace                    0.165389
attribute_value_ml_positioning             0.169143
attribute_value_ml_workrate                0.171001
attribute_value_ml_determination           0.201642
attribute_value_ml_one_on_one              0.272484
attribute_value_ml_aerial_ability               NaN
attribute_value_ml_concentration                NaN
attribute_value_ml_crossing                     NaN
attribute_value_ml_defensive_workrate           NaN
attribute_value_ml_dribling                     NaN
attribute_value_ml_finishing                    NaN
attribute_value_ml_first_touch                  NaN
attribute_value_ml_freekicks                    NaN
attribute_value_ml_jumping                      NaN
attribute_value_ml_long_shots                   NaN
attribute_value_ml_marking                      NaN
attribute_value_ml_off_the_ball                 NaN
attribute_value_ml_offensive_workrate           NaN
attribute_value_ml_positive_aggression          NaN
attribute_value_ml_tackling                     NaN
attribute_value_ml_technique                    NaN
dtype: float64